*{
  margin: 0;
  padding: 0;
}
.top-nav nav ul li a{
 text-decoration: none;
}
body {
  background: #efefef;
  color:black;
  margin: 0;
}
.botton{
  color:black;
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.top-nav nav ul li {
  float: left;
  margin-left: 17px;
  margin-right: 17px;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.top-nav nav {
  float: right;
  margin:7px 16px 6px 0;
}
.logo {
  float: left;
  font-size: 24px;
  font-family: "Arial Black";
  margin-bottom: 24px;
}
.top-nav nav ul li a {
  font-size: 12px;
  color: #b7b7b7;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
}
.top-nav nav ul li a:hover {
  border-bottom: 3px solid #e06567;
}
.logo .rs {
  color: #e6686a;
  margin-right: 4px;
  padding-left: 16px;
}
.logo .card {
  color: #9a9da2;

}
.top-nav {
  margin-top: 23px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.banner{
  height: 515px;
  background-image: url(./img/bg.jpg);
  background-position: center center;
  background-size: cover;
}
.mask{
  height: 515px;
  background-color: rgba(0,0,0,0.8)
}
.userCard{
  max-width: 940px;
  margin: 0 auto;
  background-color: #ffffff;
}
.welcome{
  background-color: #e6686a;
  color: white;
  display: inline-block;
  padding: 4px 16px;
  line-height: 21px;
  position: relative;
  margin-bottom: 26px;
}
.welcome .triangle{
  border:10px solid transparent;
  width:0px;
  border-left-color:#e6686a;
  border-top-width:0px;
  display: block;
  position: absolute;
  left: 4px;
  top: 100%;
}
.avatar{
  float: left;
}
.text{
  float: left;
  padding-left: 65px;
  width: 470px;
}
.top-card {
  padding: 57px 51px;
}
.text h1{
  margin-bottom: 5px;
}
.text p{
  margin-bottom: 28px;
}
.text hr{
  border: none;
  border-top: 1px solid #dedede;
  margin: 28px 0;
}
.text dt,.text dd{
  float: left;
  padding: 8px 0;
}
.text dt{
  width: 30%;
  font-weight: bold;
}
.text dd{
  width: 70%;
  color: #9da0a7
}
.media{
  background: #e6686a;
  text-align: center;
}
.media svg{
  height: 30px;
  width: 30px;
  fill: white;
  vertical-align: top;
}
.media a{
  text-decoration: none;
  display: inline-block;
  border-radius: 50%;
  line-height: 30px;
  width: 40px;
  padding: 5px 0;
  margin: 0 16px;
}
.media a:hover{
  background: #cf5d5f;
}